<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<h1 class="title">Добавить объект</h1>



        <form id="1" action="" method="post">{%  csrf_token %}

<br>    <div style="margin: 0px 20px" >
        {{ form.as_p}}

            <!--<select form="1">
            {%  for type in Types %}
             <div>
             <option {{ type.name }}>{{ type.name }}</option>
            </div>
             {% endfor %}
            </select>

            <br>
            <br>-->
        <br>
        <br>
        <button name="addobject" value=>Добавить</button>
        </div>

 </form>

<div style="margin: -22px 120px">
     <form action="/">

    <button  name="addobject" value=>Назад</button>
    </form>

</div>







</body>
</html>